article section.page {

}

article img {
    border: 0;
    max-width: 100%;
}

article img, #body .video-container {
  margin: 3rem auto;
  display: block;
  text-align: center; }

article img.border, #body .video-container.border {
  border: 2px solid #e6e6e6 !important;
  padding: 2px; }

article img.shadow, #body .video-container.shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); }

article img.inline {
  display: inline !important;
  margin: 0 !important;
  vertical-align: bottom; }

article img.inline {
  display: inline !important;
  margin: 0 !important;
  vertical-align: bottom; }

/* anchors */
.anchor {
  color: #2053AB;
  font-size: 0.5em;
  cursor: pointer;
  visibility: hidden;

  
  vertical-align: middle;

  -webkit-transition: color 0.35s ease;
  -moz-transition: color 0.35s ease;
  -ms-transition: color 0.35s ease;
  transition: color 0.35s ease; 
}

.anchor:hover {
  color: #238fbd;
  -webkit-transition: color 0.35s ease;
  -moz-transition: color 0.35s ease;
  -ms-transition: color 0.35s ease;
  transition: color 0.35s ease; 
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility: visible; 
}







.tooltipped {
  position: relative; }

.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased; }

.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent; }

.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
  display: inline-block;
  text-decoration: none; }

.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px; }

.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8); }

.tooltipped-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-sw:after {
  margin-right: -15px; }

.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8); }

.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-nw:after {
  margin-right: -15px; }

.tooltipped-s:after, .tooltipped-n:after {
  transform: translateX(50%); }

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  transform: translateY(50%); }

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8); }

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(50%); }

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8); }

